@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
</head>

<div class="qr-section animate__animated animate__fadeInUp">
    <div class="qr-link">
        <div class="git-qr">
            <img src="~/assets/githubQR.png">
            <h1 class="qr-text">GITHUB</h1>
        </div>

        <div class="instagram-qr">
            <img src="~/assets/instagramQR.png">
            <h1 class="qr-text">INSTAGRAM</h1>
        </div>

        <div class="linkedin-qr">
            <img src="~/assets/linkedinQR.png">
            <h1 class="qr-text">LINKEDIN</h1>
        </div>
    </div>
</div>
