@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="banner">
        <div class="main-banner">
            <h1 class="main-slogan">
                We are glad to see you on our Traffic Police website
            </h1>
        </div>
        <div class="banner-text">
            <h2 class="text">
                Here you can easily track your fines as well as traffic violations
            </h2>
        </div>
        <div class="banner-text">
            <h2 class="text">
                Get registered and easily track
            </h2>
        </div>
        <div class="banner-text">
            <button>
                <a asp-action="Register" asp-controller="Identity">Registration</a>
            </button>
        </div>
    </div>
</main>